@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');

*img{
  width: 100%;
  height: auto;
}

body{
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 100vh;
  background-image: url('../img/slide1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgb(100, 100, 100);
  
}

@media (min-width:320px){
  .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 720px;
    height: 920px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 5px solid #EA462B;
    border-radius: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -41px 45px -30px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -41px 45px -30px rgba(0,0,0,0);
    
    h1{
      color: #EA462B;
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-family: 'Zilla Slab', serif;
      font-size: 8rem;
      padding: 1rem;
     
    }
    .imagen{
      display: flex;
      justify-content: center;
      width: 70%;
    }
    img{
      margin-top: 2rem;
      margin-bottom: 3rem;
      width: 200px;
      
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      input{
        width: 600px;
        height: 90px;
        margin: 5px;
        text-align: center;
        background: transparent;
        border: 1px solid transparent;
        background-color: rgb(167, 163, 163);
        -webkit-box-shadow: 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        font-family: 'Zilla Slab', serif;
        font-size: 30px;
        
        
      }
      .btn{
        font-family: 'Zilla Slab', serif;
        font-size: 40px;
        padding: 2rem 7rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: #EA462B;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        
      }
      .btn:hover{
        color: #EA462B;
        background:#ffffff;
      }
      a{
        font-family: 'Zilla Slab', serif;
        text-decoration: none;
        color: #EA462B;
        font-size: 58px;
        padding: 1rem;
        
        
       
      }
      a:hover{
        color: white;
      }
      
    }
  }
  
 }




 @media (min-width:1200px){
  .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 420px;
    height: 620px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 5px solid #EA462B;
    border-radius: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -41px 45px -30px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -2px -41px 45px -30px rgba(0,0,0,0);
    
    h1{
      color: #EA462B;
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-family: 'Zilla Slab', serif;
      font-size: 50px;
     
    }
    .imagen{
      display: flex;
      justify-content: center;
      width: 60%;
    }
    img{
      margin-top: 0;
      margin-bottom: 1rem;
      width: 90px;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      input{
        width: 200px;
        height: 30px;
        margin: 5px;
        text-align: center;
        background: transparent;
        border: 1px solid transparent;
        background-color: rgb(167, 163, 163);
        -webkit-box-shadow: 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        font-family: 'Zilla Slab', serif;
        font-size: 15px;
        
        
      }
      .btn{
        font-family: 'Zilla Slab', serif;
        font-size: 20px;
        padding: 0.5rem 3rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: #EA462B;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        
      }
      .btn:hover{
        color: #EA462B;
        background:#ffffff;
      }
      a{
        font-family: 'Zilla Slab', serif;
        text-decoration: none;
        color: #EA462B;
        font-size: 18px;
        margin-top: 10px;
       
      }
      a:hover{
        color: white;
      }
      
    }
  }
  
 }
  