@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* img {
  width: 100%;
  height: auto; }

* i {
  width: 100;
  height: auto; }

body {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Lato', sans-serif; }

html {
  scroll-behavior: smooth; }

li {
  list-style: none; }

a {
  text-decoration: none; }

main {
  width: 100%;
  height: 100%; }

.pokeball div {
  width: 3rem;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1; }
  @media (max-width: 1200px) {
    .pokeball div {
      width: 4rem; } }

@media (min-width: 200px) {
  .principalWrapper {
    width: 100%; } }

@media (min-width: 1200px) {
  .principalWrapper {
    width: 1200px; }
    .principalWrapper .dropdown {
      display: none; } }

header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%; }
  header .principalWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 1200px) {
      header .principalWrapper {
        height: 200px; }
        header .principalWrapper nav {
          display: none; }
        header .principalWrapper .inicio {
          display: none; }
        header .principalWrapper .logo {
          width: 13rem; }
        header .principalWrapper .dropdown button {
          font-size: 3.2rem; }
        header .principalWrapper .dropdown ul {
          background: #ea462b; }
          header .principalWrapper .dropdown ul li a {
            color: #ffffff;
            text-decoration: none; }
          header .principalWrapper .dropdown ul a:hover {
            color: black; } }

.logo {
  width: 4rem;
  height: auto;
  margin-left: 3rem; }

nav {
  width: 30%;
  margin-left: 5rem; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px; }
  nav li {
    text-transform: uppercase; }
    nav li a {
      font-family: 'Zilla Slab', serif;
      font-size: 18px;
      color: black;
      text-decoration: none; }

.inicio button {
  font-size: 18px;
  padding: 7px 25px;
  border: 1px solid #ea462b;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0; }
  .inicio button a {
    color: #23292c;
    text-decoration: none; }

.inicio button:hover {
  background-color: #ea462b;
  color: white; }
  .inicio button:hover a:hover {
    color: white; }

.principal {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-image: url("../img/slide2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  align-items: center; }
  @media (max-width: 1200px) {
    .principal {
      display: flex;
      justify-content: center;
      padding: 1rem;
      background-image: url("../img/slide2.jpg");
      background-position: center;
      background-size: cover;
      align-items: center; } }
  @media (max-width: 450px) {
    .principal {
      height: 70vh; } }
  @media (max-width: 1200px) {
    .principal .principalWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-items: center;
      padding: 1rem; } }
  @media (max-width: 1200px) {
    .principal .principalWrapper .aboutContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5rem;
      margin-bottom: 0;
      text-align: center;
      align-items: center; } }
  .principal h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 84px;
    color: #23292c; }
    @media (max-width: 1200px) {
      .principal h1 {
        font-size: 130px; } }
  .principal p {
    font-family: 'Zilla Slab', serif;
    color: #77777777;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 1rem; }
    @media (max-width: 1200px) {
      .principal p {
        font-size: 50px;
        line-height: 53px; } }
  .principal button {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 35px;
    background: #ea462b;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin: 0;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border: 1px solid #ea462b; }
    .principal button a {
      color: #ffffff;
      text-decoration: none; }
    @media (max-width: 1200px) {
      .principal button {
        margin-top: 20px;
        font-size: 30px;
        line-height: 53px; } }

.listProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  text-align: center; }
  .listProducts .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .listProducts h2 {
    font-family: 'Zilla Slab', serif;
    color: #23292c;
    line-height: 56px;
    font-weight: 600;
    font-size: 50px; }
    @media (max-width: 1200px) {
      .listProducts h2 {
        font-size: 120px;
        margin-bottom: 3rem; } }
  .listProducts p {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    line-height: 28px;
    color: #000000ea;
    font-size: 20px; }
    @media (max-width: 1200px) {
      .listProducts p {
        font-size: 40px; } }
  .listProducts ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media (max-width: 1200px) {
      .listProducts ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; } }
    @media (max-width: 570px) {
      .listProducts ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; } }
    .listProducts ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
      padding: 11px; }
      @media (max-width: 1200px) {
        .listProducts ul li {
          flex: 0 0 500px;
          padding: 2rem; } }
      @media (max-width: 500px) {
        .listProducts ul li {
          flex: 0 0 200px;
          padding: 2rem; } }
    .listProducts ul div {
      width: 12rem;
      height: auto; }
      @media (max-width: 1200px) {
        .listProducts ul div {
          width: 50rem;
          height: auto; } }
    .listProducts ul span:nth-of-type(1) {
      font-family: 'Zilla Slab', serif;
      font-weight: 600;
      line-height: 28px;
      color: #23292c;
      font-size: 22px; }
      @media (max-width: 1200px) {
        .listProducts ul span:nth-of-type(1) {
          font-size: 50px;
          padding: 2rem; } }
    .listProducts ul span:nth-of-type(2) {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      line-height: 26px;
      color: #383434db;
      font-size: 16px;
      width: 80%; }
      @media (max-width: 1200px) {
        .listProducts ul span:nth-of-type(2) {
          font-size: 30px;
          line-height: 50px; } }
    .listProducts ul span:nth-of-type(3) {
      color: #ea462b;
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px; }
      @media (max-width: 1200px) {
        .listProducts ul span:nth-of-type(3) {
          font-size: 50px;
          line-height: 60px;
          margin-top: 1rem; } }
    .listProducts ul button {
      font-size: 18px;
      padding: 10px 35px;
      background: #ffffff;
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      margin: 0;
      border: 1px solid #ea462b;
      margin-top: 1rem; }
      @media (max-width: 1200px) {
        .listProducts ul button {
          font-size: 30px;
          line-height: 50px; } }
      .listProducts ul button a {
        color: #000000;
        font-family: 'Zilla Slab', serif;
        text-decoration: none; }
    .listProducts ul button:hover {
      background: #ea462b; }
      .listProducts ul button:hover a:hover {
        color: #ffffff; }

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  background-image: url("../img/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .description .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .description ul {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .description ul {
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-self: center; } }
    .description ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: white;
      background: transparent;
      margin-bottom: 2rem; }
      .description ul li .logitos {
        width: 7rem;
        height: auto; }
      @media (max-width: 1200px) {
        .description ul li {
          margin-bottom: 3rem; }
          .description ul li .logitos {
            width: 13rem;
            height: auto; }
          .description ul li p {
            font-size: 5rem;
            color: black; } }
      .description ul li div {
        width: 6rem; }
      .description ul li p {
        margin-top: 2rem;
        font-size: 22px;
        margin-bottom: 1rem;
        font-family: 'Zilla Slab', serif;
        font-weight: 600;
        color: #ffffff; }
        @media (max-width: 1200px) {
          .description ul li p {
            font-size: 4rem; } }
      .description ul li span {
        width: 70%;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #ffffff;
        font-size: 16px; }
        @media (max-width: 1200px) {
          .description ul li span {
            font-size: 2.4rem; } }

.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .galeria .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .galeria h2 {
    font-family: 'Zilla Slab', serif;
    color: #23292c;
    line-height: 56px;
    font-weight: 600;
    font-size: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    @media (max-width: 1200px) {
      .galeria h2 {
        font-size: 120px;
        margin-top: 3rem;
        margin-bottom: 3rem; } }
  .galeria ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px; }
    @media (max-width: 1200px) {
      .galeria ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .galeria ul li {
      flex: 0 0 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 5px; }
      @media (max-width: 1200px) {
        .galeria ul li {
          flex: 0 0 500px; } }
      @media (max-width: 500px) {
        .galeria ul li {
          flex: 0 0 200px; } }
      .galeria ul li div {
        width: 20rem;
        height: auto; }
        @media (max-width: 1200px) {
          .galeria ul li div {
            width: 40rem;
            height: auto; } }
        @media (max-width: 500px) {
          .galeria ul li div {
            width: 20rem;
            height: auto; } }

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contacto .principalWrapper {
    padding: 1rem; }
    .contacto .principalWrapper div {
      text-align: center; }
      .contacto .principalWrapper div h2 {
        font-family: 'Zilla Slab', serif;
        color: #23292c;
        font-weight: 600;
        font-size: 50px;
        margin-bottom: 2rem; }
        @media (max-width: 1200px) {
          .contacto .principalWrapper div h2 {
            font-size: 7rem;
            margin-top: 2rem;
            margin-bottom: 2rem; } }
    .contacto .principalWrapper ul {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      @media (max-width: 1200px) {
        .contacto .principalWrapper ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          text-align: center;
          padding: 0; } }
      .contacto .principalWrapper ul li {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem; }
        @media (max-width: 1200px) {
          .contacto .principalWrapper ul li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%; } }
        .contacto .principalWrapper ul li h2 {
          font-family: 'Zilla Slab', serif;
          font-weight: 600;
          color: #23292c;
          font-size: 22px;
          margin-bottom: 1rem; }
          @media (max-width: 1200px) {
            .contacto .principalWrapper ul li h2 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-size: 5rem; } }
        .contacto .principalWrapper ul li span {
          width: 90%;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          color: #777777;
          font-size: 16px;
          line-height: 25px; }
          @media (max-width: 1200px) {
            .contacto .principalWrapper ul li span {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
              line-height: 40px;
              display: block; } }
        .contacto .principalWrapper ul li .logo2 {
          display: flex;
          font-size: 18px;
          margin-top: 10px; }
          @media (max-width: 1200px) {
            .contacto .principalWrapper ul li .logo2 {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              font-size: 3rem;
              margin-top: 10px; } }
          .contacto .principalWrapper ul li .logo2 i {
            margin-right: 5px; }
            @media (max-width: 1200px) {
              .contacto .principalWrapper ul li .logo2 i {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-right: 20px; } }
        .contacto .principalWrapper ul li:nth-of-type(3) span i {
          margin-right: 1rem;
          margin-bottom: 10px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px; }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer ul a {
      text-decoration: none;
      color: #596872; }
    footer ul li {
      padding: 3rem;
      text-decoration: none; }
      footer ul li i {
        font-size: 20px; }
        @media (max-width: 1200px) {
          footer ul li i {
            font-size: 4rem; } }

p {
  font-size: 20px;
  font-family: 'Karla', sans-serif; }
  @media (max-width: 1200px) {
    p {
      font-size: 30px; } }
